
.clinerules
memory-bank
compile_flags.txt
*/bin/*
*.pdf
*/lib/*
*.pdf
*.ps
*.html
*.png
sys/man/*/INDEX
enam.c
init
searchindex
sys/src/cmd/awk/awkgram.c
sys/src/cmd/awk/proctab.c
sys/src/libc/port/runebreakdata
sys/src/libc/port/runeistypedata
sys/src/libc/port/runenormdata
sys/src/libc/port/runetotypedata
sys/src/libc/port/6.mkrunetype
sys/src/cmd/plot/libplot.a6

sys/src/cmd/7l/cnam.c
sys/src/cmd/gs/amd64.h
sys/src/cmd/jpg/rgbv.h
sys/src/cmd/jpg/ycbcr.h
