
.clinerules
memory-bank
compile_flags.txt
*/bin/*
*.pdf
*/lib/*
*.pdf
*.ps
*.html
*.png
sys/man/*/INDEX
enam.c
init
searchindex
sys/src/cmd/awk/awkgram.c
sys/src/cmd/awk/proctab.c
sys/src/libc/port/runebreakdata
sys/src/libc/port/runeistypedata
sys/src/libc/port/runenormdata
sys/src/libc/port/runetotypedata
sys/src/libc/port/6.mkrunetype
sys/src/cmd/plot/libplot.a6

sys/src/cmd/7l/cnam.c
sys/src/cmd/gs/amd64.h
sys/src/cmd/jpg/rgbv.h
sys/src/cmd/jpg/ycbcr.h

*.6
6.*
*.out
*.a
*.debug
*.a6
*.bits
*.mpc
*.tab.*
*.amd64
*.maketab

sys/src/ape/cmd/make/gram.c
sys/src/ape/lib/ap/syscall/gencall
sys/src/cmd/bc.c
sys/src/cmd/mpc.c
sys/src/cmd/pc.c
sys/src/cmd/units.c
sys/src/cmd/aux/kbdfs/latin1.h
sys/src/cmd/dtracy/y.output
sys/src/cmd/grap/grap.c
sys/src/cmd/grap/grapl.c
sys/src/cmd/ip/snoopy/protos.c
sys/src/cmd/ip/snoopy/protos.h
sys/src/cmd/nusb/disk/scsierrs.c
sys/src/cmd/pic/picl.c
sys/src/cmd/pic/picy.c
sys/src/cmd/syscall/tab.h
sys/src/cmd/tcs/alias.h
sys/src/libsec/port/jacobian.c
sys/src/libsec/port/secp256k1.c
sys/src/libsec/port/secp256r1.c
sys/src/libsec/port/secp384r1.c
